.appjs{
  min-height: 100vh;
  position: relative;
  
}

.img-fluid{
  
  max-width: 100%;
  height: auto;

}
/* .bottom-right {
  position: absolute;
  bottom: 100px;
  right: 200px;
} */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.main{
  max-width: 100%;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("./images/coWorking3.jpg");
  width: 100vw;
  height:100vh;
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  /* text-align:center; */
  margin:auto;
  padding:0;
}

.wrapper {	
  overflow: hidden;
    width: auto;
    float: left;
    position: fixed;
    box-shadow: 0 0 50px 3px rgba(0,0,0,.1);
    border-radius: 5px;
    border: 0;
    visibility: visible;
    transition: all .4s ease-in-out;
    padding: 30px 25px;
    top: 20%;
    background: -webkit-linear-gradient(-45deg, #FFFFE0,#FFFACD,yellow);
  background-size: 400% 400%;
  animation: grad 10s ease infinite;

}
@keyframes grad {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
@media (min-width: 300px){
.mainMob{
  max-width: 100%;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("./images/coWorking3.jpg");
  width: 100vw;
  height:100vh;
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  /* text-align:center; */
  margin:auto;
  padding:0;
  overflow: hidden;
}
.wrapperMob{
    /* overflow: hidden; */
    width: 90vw;
    float: left;
    position: absolute;
    border-radius: 5px;
    border: 0;
    visibility: visible;
    transition: all .4s ease-in-out;
    padding: 30px 25px;
    margin: 9%;
    top: 17%;
    background: white;
}
.ml16Mob {
  color: white;
  padding: 20px 0;
  font-weight: 800;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  overflow: hidden;
  
}
.ml16Mob .letter {
  display: inline-block;
  line-height: 1em;
}

}
.footer{

  right: 0;
  left: 0;
  color: wheat;
  text-align: center;
  background-color: #081132;
  margin:0px auto;
  padding: 10px 0px 10px 0px;
  width: 100%;
  height: 50px;
  bottom: 0;
  position: absolute;
  margin-top: auto;
}

.wrappertxt{
  	
    overflow: hidden;
      width: auto;
      float: left;
      position: fixed;
      color: whitesmoke;
      /* font-family: 'Roboto', sans-serif;
      font-weight: 900;
      visibility: visible; */
      transition: all .4s ease-in-out;
      padding: 30px 25px;
      top: 130px;
}


/* .wrappertxt p {
  padding: 20px;
  color: white;
  font: 12px Monaco, Mono-Space;
  margin: 0;
} */

.ml16 {
  color: white;
  padding: 20px 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  overflow: hidden;
  
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}
.ml3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.5em;
}

.mobileDevice{
  color: white;
  padding: 40px 0;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  overflow: hidden;
  
}
