
.appjs{
  min-height: 100vh;
  position: relative;
  
}

.img-fluid{
  
  max-width: 100%;
  height: auto;

}


.main{
  z-index: 1;
  /* background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.49) 82%),url("./images/coWorking3.jpg") !important; */
  /* height: inherit; */
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("./images/coWorking3.jpg");
 
    /* position: absolute; */
  /* width: 100vw;
  height:100vh; */
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  /* text-align:center; */
  margin:auto;
  padding:0;

  
}

.wrapper123 {	
  /* margin-top: 4%;
  margin-bottom: 6%;
    height: 100%;
    max-width: 80%;
    box-shadow: 0 0 50px 3px rgba(0,0,0,.1);
    border-radius: 5px;
    border: 0; */
    border: 0;
    box-shadow: 0 0 50px 3px rgba(0,0,0,.1);
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 4%;
    visibility: visible;
    transition: all .4s ease-in-out;
    padding: 20px 25px;
    /* background-color: #000000; */
    background: -webkit-linear-gradient(-45deg, #FFFFE0,#FFFACD,yellow);
  background-size: 400% 400%;
  animation: grad 10s ease infinite;
  z-index: 9;
  /* opacity: 0.6; */

}
.jumbotron{
  margin-bottom: 0;
  
}
.carousel-caption{
  color: black;
}
/* .carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
} */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  
  content: '>';
  font-size: 55px;
  color: navy;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}
input[type="text"],input[type="date"],input[type="password"],input[type="email"],input[type="number"],select {
  min-height: 45px;
  color: #707583;
  border-radius: 5px;
  border: solid 1.5px #cbd4db;
  padding-left: 15px;
}
@keyframes grad {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}
@media (min-width: 280px) and (max-width : 700px){
.mainMob{
 
  /* min-width: 100vw; */
 
  max-width: 100%;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("./images/coWorking3.jpg");
    /* height: 100vh; */
    /* max-height: 100vh; */
  /* width: 100vw;
  height: 100vh; */
  overflow: auto;
  /* height:100vh; */
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  /* text-align:center; */
  /* margin:auto; */
  /* overflow: hidden; */
  margin:auto;
  padding:0;
}
.wrapperMob{
    margin-left: 4%;
    margin-bottom: 4%;
    background-color: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    visibility: visible;
    transition: all .4s ease-in-out;
    padding: 20px 25px;
    /* margin: 9%; */
    top: 17%;
    /* flex-grow: 1; */
    background: white;
    font-size: small;
}
.ml16Mob {
  color: white;
  padding: 20px 0;
  font-weight: 800;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  overflow: hidden;
  
}
.ml16Mob .letter {
  display: inline-block;
  line-height: 1em;
}

}
.footer{

  /* right: 0;
  left: 0;
  color: wheat;
  text-align: center;
  background-color: #081132;
  margin:0px auto;
  padding: 10px 0px 10px 0px;
  width: 100%;
  height: 50px;
  bottom: 0;
  position: absolute;
  margin-top: auto; */
  color: wheat;
  text-align: center;
  background-color: #081132;
  /* margin:0px auto; */
  padding: 10px 0px 1px 0px;
  height: 50px;

}

.wrappertxt{
  	/* max-height: 80%; */
    overflow: hidden;
      color: whitesmoke;
      /* font-family: 'Roboto', sans-serif;
      font-weight: 900;
      visibility: visible; */
      transition: all .4s ease-in-out;
      padding: 30px 25px;
      margin-top: 2%;
      
}


/* .wrappertxt p {
  padding: 20px;
  color: white;
  font: 12px Monaco, Mono-Space;
  margin: 0;
} */

.ml16 {
  color: white;
  padding: 20px 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  overflow: hidden;
  
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}
.ml3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.5em;
}

.mobileDevice{
  color: white;
  padding: 40px 0;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  overflow: hidden;
  
}
.cardLink{
  text-decoration: none;
}
input[type='range']::-webkit-slider-thumb {
  
  -webkit-appearance: none;
  
  cursor: ew-resize;

}

/* .carousel {
  height:360px;
  object-fit: contain;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  } */
  .carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}

.carousel .slide img {
    max-height: 450px;  
    width: 100%;
}

.personalDetails{
  margin-top: 5%;
  margin-bottom: 7%;
}

.required:after {
  content:" *";
  color: red;
}